<body style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div style="border: solid black 1px;">
        <h1>Submitted Information</h1>
        <table>
            <tr>
                <td>Name: </td>
                <td><%= name %></td>
            </tr>
            <tr>
                <td>Dojo Location: </td>
                <td><%= location %></td>
            </tr>
            <tr>
                <td>Favorite Language: </td>
                <td><%= favorite_language %></td>
            </tr>
            <tr>
                <td>Comment: </td>
                <td><%= comment %></td>
            </tr>
        </table>
        <a href="/" style="float: right;"><button>Go Back</button></a>
    </div>
</body>